@import "./variables.scss";

.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  .home-main {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
