.Search-ctn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .filter-bar {
    position: relative;
    border-radius: 25px;
    width: 30vw;
    padding: 15px 65px 15px 50px;
  }
}
