* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("./assets/img/pool-bar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 15%;
  width: 15%;
  position: relative;
}
